{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>梦芭莎登录</title>
		<link rel="stylesheet" href="{% static 'css/login.css' %}" />
		<link rel="icon" href="{% static 'img/aaaaaa.jpg' %}" type="image/x-icon" />
		<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/login.js' %}" ></script>
	</head>

    <body>
        <div class="head">
			<a href="{% url 'myApp:index' %}"><p><img src="{% static 'img/0309blogin2.jpg' %}" alt="" border="0"></p></a>
		</div>
		<div class="main">
			<div class="user_info">
				<div class="user_info_l">
					<a href="{% url 'myApp:index' %}"><p><img src="{% static 'img/160823181757.jpg' %}" alt="" border="0"></p></a>
				</div>
				<div class="user_info_r">
					<div class="login_style">
						<form class="login_stylebox" method="post">
                            {% csrf_token %}
							<div class="login_style_txt1">
								<label class="name_lable" for="txtLoginID"></label>
								<input type="text" id="txtLoginID" name="email" class="login_style_txt1_name" tabindex="1" title="请输入账号" value="" placeholder="邮箱/会员卡号">
								<label class="true_lable1" for="txtLoginID"></label>
								<div class="flase_lable1">邮箱/会员卡号不能为空</div>
							    <div class="flase_lable11">邮箱/会员卡号错误，请重新输入</div>
							</div>
							<div class="login_style_txt2">
								<label class="pwd_lable" for="txtLoginPwd"></label>
								<input type="password" id="txtLoginPwd" name="password" class="login_style_txt1_pwd" tabindex="1" title="请输入密码" value="" placeholder="密码">
								<label class="true_lable2" for="txtLoginPwd"></label>
								<div class="flase_lable2">密码不能为空</div>
                                <p style="color: red;" id="err">{{ err }}</p>
							</div>
							<div class="login_style_txt4">
								<span><a class="login_style_txt4_l" href="">忘记密码?</a></span>
								<span><a class="login_style_txt4_r" href="{% url 'myApp:register' %}">注册</a></span>
							</div>
							<div class="login_style_txt5">
								<input type="button" id="txtLoginSub" class="login_style_txt5_sub" value="立即登录">
							</div>
							<div class="login_style_txt6">
								<span class="login_style_txt6_l">其他登录方式:</span><br>
								<span class="login_style_txt6_r">
									<a href=""><img src="{% static 'img/wx.jpg' %}"></a>
									<a href=""><img src="{% static 'img/qqlogo0.jpg' %}"></a>
									<a href=""><img src="{% static 'img/l_050.jpg' %}"></a>
									<a href=""><img src="{% static 'img/weibologin0.jpg' %}"></a>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="foot">
            <div class="footer">
                <a href="{% url 'myApp:index' %}" rel="nofollow" title="女性内衣专家梦芭莎首页">首页</a>
                <a href="http://help.moonbasa.com/help/detial/33" rel="nofollow">公司简介</a>
                <a href="http://www.moonbasa.com/" title="梦芭莎">旗下品牌</a>
                <a href="http://help.moonbasa.com/help/ShopMap.aspx" rel="nofollow">零售店址</a>
                <a href="http://union.moonbasa.com" title="梦芭莎网站联盟">梦芭莎网盟</a>
                <a href="http://fenxiao.moonbasa.com/">网店代理</a>
                <a href="http://www.moonbasa.com/home/sitemap" target="_blank" title="梦芭莎网店代理">网站地图</a>
                <a href="http://www.moonbasa.com/category">友情链接</a>
                <a href="http://help.moonbasa.com/help/jop.html" title="梦芭莎评论">加入我们</a>
                <br>
                Copyright © 2010-2019 梦芭莎官方网站，广州摩拉网络科技有限公司 All Rights Reserved 粤B2-20080069号
		    </div>
		</div>
    </body>

</html>
